@model IEnumerable<FilmsJust.Models.Filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Generos de Filme</h1>
<p>
    <a asp-action="Create">Cadastrar um novo filmes </a>
</p>
<table class="table">
    <thead>
        <tr>
        <th>Imagens</th>
        <th>Nome</th>
        <th>Sinopse</th>          
        <th>Gênero</th>           
        <th>Lançamento</th>             
        <th>Preço</th>      
        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <img src="@Url.Content(item.Imagem)" class="img-thumbnail rounded-lg" height="128" width="128"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.GeneroNome)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>        
            <td>
                <a asp-action="Edit" asp-route-id="@item.FilmeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FilmeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FilmeId">Delete</a>
                <a asp-action="Details" asp-route-id="@item.FilmeId">Adquirir</a>
            </td>
        </tr>
}
    </tbody>
</table>